*
{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mainclass
{
width: 100%;
height: 10vh;
background-color: black;
background-size: cover;
background-position: center;
}

.toptext h1
{
    text-align: center;
    color: white;
}

.tabclass
{
    width: 100%;
    height: 350px;
}   

.tabclass .buttonclass
{
    height: 15%;
    margin-right: -15px;
    background-color: black;
}

.tabclass img 
{
    width: 90%;
    height: 100vh;
    margin-right: -11px;
}

.tabclass .buttonclass button
{
    margin: auto;
    cursor: pointer;
    width: 33.3%;
    height: 100%;
    float: left;
    border: none;
    outline: none;
    padding: 10px;
    background-color: rgb(35, 35, 35);
    color: white;
}

.tabclass .buttonclass button:hover
{
    background-color: rgb(25, 25, 25);
    color: rgb(0, 0, 0);
}

.tabclass .tabelements
{
    height: 50%;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 2px;
    box-sizing: border-box;
    display: none;
}

.tabclass .tabelements .img3
{
    margin: 36px;
    width: 400;
    float: left;
}

.tabclass .tabelements p
{
    padding: 1%;
}

.tabclass .tabelements
{
    animation: fadeEffect 1s;
}

@keyframes fadeEffect 
{
    from 
    {
        opacity: 0;
    }

    to 
    {
        opacity: 1;
    }
}